.pagination {
  * {
      padding: 0;
      margin: 0;
  }
}

.total {
  padding: 5px;
  float: left;
}

.pager {
  float: left;
  list-style: none;
  overflow: hidden;
  li {
      padding: 5px;
      float: left;
      list-style: none;
      cursor: pointer;
      &.active {
          color: #66ccff;
      }
  }
}

.arrow {
  color: #ddd;
  &.avaliable {
      color: #66ccff;
  }
}

.jump {
  float: left;
  padding: 5px;
  span {
      float: left;
  }
  input {
      width: 30px;
      text-align: center;
      margin-left: 5px;
      float: left;
      border: none;
      border-bottom: 1px solid #66ccff;
  }
}