.y-panel__block {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.y-el-table__header {
  font-size: 12px;
  white-space: normal;
  padding: 5px 0 !important;
  font-weight: 600;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  background-color: #f5f5f5 !important;
  color: #444;
  width: 100%;
  text-align: center !important;
  &:nth-last-child(2) {
    border-right: 1px solid #e4e4e4;
  }
}

.y-el-table__sell {
  border-left: 1px solid #e4e4e4;
  font-weight: 400;
  color: #444;
  padding: 8px !important;
  font-size: 12px;
  text-align: center;
}

.el-table__expanded-cell {
  padding: 0 0 0 47px !important;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

.el-table__expand-icon > .el-icon {
  font-weight: 900;
  font-size: 12px;
  color: #444;
  transform: rotate(90deg);
}
.el-table__expand-icon--expanded {
  transform: rotate(180deg);
}

.align-items--icon {
  display: inline-flex;
  background-color: #62ab62;
  color: #fff;
  padding: 0 7px;
  line-height: 18px;
  border-radius: 2px;
}
